@model MVCDemo.Models.RY
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>是否要删除?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.c_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.c_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.c_person)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sys)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sys)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>

