@model IEnumerable<MVCDemo.ViewModel.Workplace>
@using MVCDemo.Models;
  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    int current = ViewBag.Current;    //当前页
    int count = ViewBag.Count;        //总页数
}

<div class="form-group">
<table>
    <tr>
        <td>
            输入支公司或职场： <input type="text" id="name1" />
            <input type="button" id="btn_search" value="查询" onclick="fun()" />
        </td>
        <td width="200" align="right">
            @Html.ActionLink("添加职场", "Add")
        </td>
        <td width="400" align="right">
            @Html.ActionLink("转到人员管理页面", "Index", "Agent")
        </td>
    </tr>
</table>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.seq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zyh_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zcname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zc_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sys)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.seq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zyh_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zcname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zc_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sys)
            </td>
            <td>
                @*@Html.ActionLink("编辑", "Edit", new { id = item.seq })*@
                @Html.ActionLink("删除", "Delete", new { id = item.seq })
            </td>
        </tr>
    }
</table>
@Html.Pager(1, current, count, 10)
<script>
    function fun() {
        var name = $("#name1").val();
        location.href = "/Company/Search?name=" + name;
    }
</script>
